<table>
  <thead>
    <tr>
      <td>Family Name</td>
    </tr>
  </thead>
  <tbody>
    <% @individuals.each do |indv| %>
      <tr>
        <td><%= link_to indv.family_name, family_path(indv.family_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
