<div class="page-header">
  <h1>Families</h1>
</div>

<ul class="media-list">
  <% @families.each do |family| %>
    <li class="media">
      <% unless family.picture_url.blank? %>
        <%= link_to family_path(family.id), class: 'pull-left' do %>
          <img class="media-object" src="<%= family.picture_url %>" />
        <% end %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to family.name, family_path(family.id) %></h4>
        <% if family.children.any? %>
          <strong>Children:</strong> <%= family.children.map { |child| child.first_name + (family.head && child.last_name == family.head.last_name ? '' : ' ' + child.last_name) }.join(', ') %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
