<table>
  <thead>
    <tr>
      <td>#</td>
      <td>Family #</td>
      <td>Family Name</td>
    </tr>
  </thead>
  <tbody>
    <% @individuals.each do |indv| %>
      <tr>
        <td><%= indv.id %></td>
        <td><%= indv.family_id %></td>
        <td><%= indv.family_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>