development: &default
  username: username
  password: passwd
  site_number: 1234567

test:
  username: testuser
  password: testpassword
  site_number: 123456

stage:
  <<: *default

production:
  <<: *default
